.DS_Store
Thumbs.db

# IDE / editor config
.idea/
.vscode/
*.swp
*.swo

# Env files
.env
.env.*
!admin/.env.example
!deploy/.env.example

# Logs
logs/
*.log

# Prevent committing built server binary
/server/api

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
